#nprogress .bar {
  height: 4px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  height: 100vh;
}

.left-column {
  display: flex;
  justify-content: flex-end;
}

.right-column {
  display: flex;
  justify-content: flex-start;
}

.blue {
  background-color: #ddf2f3;
}

.green {
  background-color: #cdffcd;
}

.all-users {
  padding: 16px;
  width: 512px;
}

.added-users {
  padding: 16px;
  width: 512px;
}

.user-search-input {
  width: 100%;
  height: 32px;
  font-size: 14px;
  padding-left: 8px;
}

.user {
  position: relative;
  padding: 4px;
  background: white;
  width: 100%;
  margin-top: 8px;
}

.username {
  cursor: pointer;
}

.add-user {
  outline: none;
  border: none;
}

.add-user::after {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 18px;
  height: 18px;
  background: url("../images/plus.svg") no-repeat center/18px;
  right: 8px;
  bottom: 4px;
}

.remove-user {
  outline: none;
  border: none;
}

.remove-user::after {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 18px;
  height: 18px;
  background: url("../images/remove.svg") no-repeat center/18px;
  right: 8px;
  bottom: 4px;
}

.user-card {
  position: relative;
  background: white;
  height: 176px;
  width: 512px;
  margin: 16px 32px 0 0;
  padding: 16px;
}

.phone-number,
.address {
  margin-top: 24px;
}

.main-page-link {
  position: absolute;
  left: 0;
  margin: 8px 0 0 8px;
  background: white;
  outline: none;
  box-shadow: 0 8px 8px 0 rgba(189, 61, 61, 0.2);
  font-size: 14px;
  padding: 4px;
  cursor: pointer;
}

.main-page-link:hover {
  background: rgb(228, 224, 221);
}
